form{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .5rem .5rem 1rem;
    gap: .75rem;

    position: absolute;
    width: 25rem;
    height: 3.5rem;
    left: calc(50% - 25rem/2);
    top: 9.5rem;

    background: var(--gray-300);

    border: 1px solid var(--gray-400);
    border-radius: .75rem;

    font: var(--text-md);
}

