form {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

#div-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .5rem .5rem 1rem;
    gap: .75rem;

    position: relative;
    width: 25rem;
    height: 3.5rem;

    background: var(--gray-300);

    border: 1px solid var(--gray-400);
    border-radius: .75rem;
    /* outline: .100rem solid var(--pink); */
}

input {
    background: none;
    border: none;
    border-radius: .75rem;
    position: absolute;
    width: 20rem;
    height: 3.5rem;
    left: calc(50% - 25rem/2);
    padding: .5rem .5rem .5rem 1rem;
    gap: .75rem;
    font: var(--text-md);
    outline: none;
}

input:focus {
    caret-color: var(--pink);
}

#submit {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    right: .5rem;
    /* background-color: var(--gray-400); */
    border-radius: .75rem;
}

@media (width <=375px) {
    #div-input {
        padding: 8px 8px 8px 8px;
        gap: 12px;
        width: 351px;
        height: 56px;
    }

    input {
        width: 275px;
        left: calc(50% - 23rem/2);
    }
}