header{
    width: 100%;
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 116px;
    height: 56px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}