header {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 116px;
    height: 56px;
}

@media (width >=375px) {
    #logo {
        position: absolute;
        width: 99.43px;
        height: 48px;
        left: calc(50% - 99.43px/2 + 0.21px);
        top: 32px;
    }
}