main {
    display: grid;
    grid-template-areas:
        "A C C"
        "B C C"
        "B D D";
    margin-top: 1.25rem;
    justify-content: center;

    & section:nth-child(1) {
        grid-area: A;
    }

    & section:nth-child(2) {
        grid-area: B;
    }

    & section:nth-child(3) {
        grid-area: C;
    }

    & section:nth-child(4) {
        grid-area: D;
    }
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    width: 320px;
    height: 90px;

    background: var(--gray-100);

    border: 1px solid var(--gray-300);
    border-radius: 1rem;
}

#picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;

    border-radius: 0.625rem;

    background: var(--gradient-base);

    & img {
        width: 56px;
        height: 56px;
        border-radius: .5rem;
        border: solid 2px var(--gray-100);
        object-fit: cover;
    }
}

.text-sm {
    font: 600 0.875rem/1.4 var(--font-family);
    color: var(--gray-600);
}

.text-xs {
    font: 400 0.75rem/1.4 var(--font-family);
    color: var(--gray-500);
}

#hist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.75rem 0px 0px 1.5rem;
    margin-top: 1rem;
    gap: 1rem;

    width: 320px;
    height: 360px;

    background: var(--gray-100);

    border: 1px solid var(--gray-300);
    border-radius: 1rem;

    overflow-y: scroll;
}

#hist>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 268px;
    height: 17px;

    & p {

        font: var(--subtitle-sm);
        display: flex;
        align-items: center;
        text-transform: uppercase;

        color: var(--gray-500);
    }

    & span {
        font: var(--text-xs);
        display: flex;
        align-items: center;

        color: var(--gray-500);
    }

}

#hist>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0px 0px;
    gap: 0.75rem;

    width: 268px;
    height: 364px;

    border-top: 1px solid var(--gray-200);
}

.cut {
    display: flex;
    align-items: center;
    height: 38px;
}

.cut>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cut-info strong {
    font: var(--subtitle-sm);
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: var(--gray-600);

}

.cut-info span {
    font: var(--text-xs);
    display: flex;
    align-items: center;

    color: var(--gray-500);
}

.cut-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    gap: 0.5rem;

    margin: 0 auto;
    width: 32px;
    height: 32px;

    background: rgba(69, 180, 66, 0.12);
    border-radius: 999px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: var(--gray-300);
}

#card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.25rem 2rem 2rem;
    margin-left: 1rem;
    gap: 2rem;

    position: relative;

    width: 568px;
    height: 333px;

    background: var(--gray-100);

    border: 1px solid var(--gray-300);
    border-radius: 1.25rem;
}

.card-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.25rem;

    width: 306px;
    height: 41px;

    & h4 {
        font: var(--subtitle-sm);
        display: flex;
        align-items: center;
        text-transform: uppercase;

        color: var(--gray-500);
    }

    & p {

        width: 306px;
        height: 20px;

        font: var(--text-sm);
        display: flex;
        align-items: center;

        color: var(--gray-500);

    }
}

.card-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0.75rem;
    gap: 0.5rem;

    position: absolute;
    width: 149px;
    height: 32px;
    right: 2rem;
    top: 2rem;

    background: var(--gray-300);
    border-radius: 999px;

    & p {
        width: 150px;
        height: 20px;

        font: var(--subtitle-md);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        color: var(--gray-500);
    }
}

.card-third {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 1rem;

    width: 504px;
    height: 192px;
}

.card-third>div {
    width: 88px;
    height: 88px;

    background: var(--gray-200);
    backdrop-filter: blur(5px);
    border-radius: 1.25rem;
}

#sec4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 2rem;

    width: 568px;
    height: 117px;

    background: var(--gray-100);
    border: 1px solid var(--gray-300);
    border-radius: 1rem;
}

.cont-spin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 0.75rem;

    width: 400px;
    height: 63px;
}

.cont-spin>div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.75rem;

    color: var(--gray-600);

    & h2 {
        font: var(--title-md);
        color: var(--gray-600);
    }

    & p {
        font: var(--text-md);
        color: var(--gray-500);
    }
}

.div-spin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0.75rem;

    width: 400px;
    height: 17px;

    & span {

        right: 0;
        font: var(--text-xs);
        display: flex;
        align-items: center;

        color: var(--gray-500);
    }

}

.barr-spin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    width: 351px;
    height: 8px;

    background: var(--gray-300);
    border-radius: 999px;
}

.one {
    &::after {
        content: "";
        width: 10%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.two {
    &::after {
        content: "";
        width: 20%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.three {
    &::after {
        content: "";
        width: 30%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.four {
    &::after {
        content: "";
        width: 40%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.five {
    &::after {
        content: "";
        width: 50%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;

    }
}

.six {
    &::after {
        content: "";
        width: 60%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;

    }
}

.seven {
    &::after {
        content: "";
        width: 70%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.eight {
    &::after {
        content: "";
        width: 80%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.nine {
    &::after {
        content: "";
        width: 90%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.ten {
    &::after {
        content: "";
        width: 100%;
        height: 8px;

        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;
    }
}

.check {
    position: absolute;
    width: 64px;
    height: 64px;
    left: calc(50% - 64px/2);
    top: calc(50% - 64px/2);
}

.gift {
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2);
    top: calc(50% - 40px/2);

    opacity: 0.35;
}

.div-gift {
    width: 72px;
    height: 72px;

    background: var(--gray-200);
    border-radius: 999px;
    position: relative;
}

.spin-gift {
    position: absolute;
    width: 64px;
    left: calc(50% - 64px/2);
    top: calc(50% - 100%/2 + 0.5px);
}

@media (width <=375px) {
    main {
        grid-template-areas:
            "A"
            "C"
            "D"
            "B";
        left: calc(50% - 351px/2);
        position: absolute;

        & section:nth-child(1) {
            grid-area: A;
            margin-bottom: 1rem;
        }

        & section:nth-child(2) {
            grid-area: B;
        }

        & section:nth-child(3) {
            grid-area: C;
        }

        & section:nth-child(4) {
            grid-area: D;
        }
    }

    #info {
        gap: 8px;

        width: 351px;
        left: calc(50% - 351px/2);
    }

    #card {
        width: 351px;
        height: 239px;
        padding: 1.5rem 1.25rem 1.25rem 1.25rem;
        margin-left: 0;
    }

    .card-first {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: 311px;
        height: 55px;

        & p {
            width: 172px;
            font: var(--text-xs);
        }
    }

    .card-second {
        width: 123px;
        height: 24px;
        right: 1.25rem;
        top: 1.5rem;

        & p {
            width: 107px;
            height: 17px;

            font: var(--subtitle-sm);
        }
    }

    .card-third {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        padding: 0px;
        gap: 8px;

        width: 312px;
        height: 120px;
    }

    .card-third>div {
        width: 56px;
        height: 56px;

        background: #E9E7E9;
        backdrop-filter: blur(3.14362px);
        border-radius: 12.5745px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .check {
        position: absolute;
        width: 40px;
        height: 40px;
        left: calc(50% - 40px/2 + 0px);
        top: calc(50% - 40px/2);
    }

    #sec4 {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 20px;
        margin-left: 0;

        width: 351px;
        height: 88px;
    }

    .cont-spin {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 4px;

        width: 231px;
        height: 46px;
    }

    .cont-spin>div:first-child {
        width: 231px;
        height: 25px;
        gap: .3rem;

        font: var(--title-md);

        & h2 {
            font: var(--title-sm);
            color: var(--gray-600);
        }

        & p {
            font: var(--text-sm);
            color: var(--gray-500);
        }
    }

    .div-spin {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 12px;

        width: 231px;
        height: 17px;

    }

    .barr-spin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;

        width: 182px;
        height: 8px;

        &::after {
            width: 70%;
            height: 8px;
        }
    }

    .div-gift {
        width: 56px;
        height: 56px;

        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .spin-gift {
        position: absolute;
        width: 40px;
        left: calc(50% - 40px/2);
        top: calc(50% - 45px/2);
    }

    #hist {
        width: 351px;
        height: 441px;
    }

    #hist>div:first-child {
        width: 311px;
        height: 17px;

        & p {
            font: var(--subtitle-sm);
        }

        & span {
            font: var(--text-xs);
        }
    }

    #hist>ul {
        width: 311px;
        height: 364px;
    }
}