main {
    display: grid;
    grid-template-areas:
        "A C C"
        "B C C"
        "B D D";
    margin-top: 1.25rem;
    justify-content: center;

    & section:nth-child(1) {
        grid-area: A;
    }

    & section:nth-child(2) {
        grid-area: B;
    }

    & section:nth-child(3) {
        grid-area: C;
    }

    & section:nth-child(4) {
        grid-area: D;
    }
}

#info {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    width: 320px;
    height: 90px;

    /* Base/Gray-100 */
    background: var(--gray-100);
    /* Base/Gray-300 */
    border: 1px solid var(--gray-300);
    border-radius: 1rem;
}

#picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;

    border-radius: 0.625rem;

    background: var(--gradient-base);

    & img {
        width: 56px;
        height: 56px;
        border-radius: .5rem;
        border: solid 2px var(--gray-100);
        object-fit: cover;
    }
}

.text-sm {
    font: 600 0.875rem/1.4 var(--font-family);
    color: var(--gray-600);
}

.text-xs {
    font: 400 0.75rem/1.4 var(--font-family);
    color: var(--gray-500);
}

#historico {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.75rem 0px 0px 1.5rem;
    margin-top: 1rem;
    gap: 1rem;

    width: 320px;
    height: 360px;

    /* Base/Gray-100 */
    background: var(--gray-100);
    /* Base/Gray-300 */
    border: 1px solid var(--gray-300);
    border-radius: 1rem;

    overflow-y: scroll;

}

#historico>div:first-child {
    /* Header */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 268px;
    height: 17px;

    & p {

        /* Heading/Subtitle Sm */
        font: var(--subtitle-sm);
        /* identical to box height, or 17px */
        display: flex;
        align-items: center;
        text-transform: uppercase;

        /* Base/Gray-500 */
        color: var(--gray-500);
    }

    & span {
        /* Body/Text Xs */
        font: var(--text-xs);
        /* identical to box height, or 17px */
        display: flex;
        align-items: center;

        /* Base/Gray-500 */
        color: var(--gray-500);

    }

}

#historico>ul {
    /* List */

    /* box-sizing: border-box; */
    list-style: none;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0px 0px;
    gap: 0.75rem;

    width: 268px;
    height: 364px;

    /* Base/Gray-200 */
    border-top: 1px solid var(--gray-200);
}

.cut {
    display: flex;
    align-items: center;
    height: 38px;
}

.cut>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cut-info strong {
    font: var(--subtitle-sm);
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    /* Base/Gray-600 */
    color: var(--gray-600);

}

.cut-info span {
    /* Body/Text Xs */
    font: var(--text-xs);
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;

    /* Base/Gray-500 */
    color: var(--gray-500);
}

.cut-icon {
    /* Icon */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    gap: 0.5rem;

    margin: 0 auto;
    width: 32px;
    height: 32px;

    background: rgba(69, 180, 66, 0.12);
    border-radius: 999px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: var(--gray-300);
}

#card {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.25rem 2rem 2rem;
    margin-left: 1rem;
    gap: 2rem;

    position: relative;

    width: 568px;
    height: 333px;

    /* Base/Gray-100 */
    background: var(--gray-100);
    /* Base/Gray-300 */
    border: 1px solid var(--gray-300);
    border-radius: 1.25rem;
}

.card-first {
    /* Header */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.25rem;

    width: 306px;
    height: 41px;

    & h4 {
        /* Heading/Subtitle Sm */
        font: var(--subtitle-sm);
        /* identical to box height, or 17px */
        display: flex;
        align-items: center;
        text-transform: uppercase;

        /* Base/Gray-500 */
        color: var(--gray-500);
    }

    & p {
        /* Ao fazer cortes de cabelo, o décimo sai de graça! */

        width: 306px;
        height: 20px;

        /* Body/Text Sm */
        font: var(--text-sm);
        /* identical to box height, or 20px */
        display: flex;
        align-items: center;

        /* Base/Gray-500 */
        color: var(--gray-500);

    }
}

.card-second {
    /* ID Tag */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0.75rem;
    gap: 0.5rem;

    position: absolute;
    width: 149px;
    height: 32px;
    right: 2rem;
    top: 2rem;

    /* Base/Gray-300 */
    background: var(--gray-300);
    border-radius: 999px;

    & p {
        /* ID: 124-537-835-230 */

        width: 125px;
        height: 20px;

        /* Heading/Subtitle Md */
        font: var(--subtitle-md);
        /* identical to box height, or 20px */
        display: flex;
        align-items: center;
        text-transform: uppercase;

        /* Base/Gray-500 */
        color: var(--gray-500);
    }
}

.card-third {
    /* Slots */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 1rem;

    width: 504px;
    height: 192px;

}

.card-third>div {
    /* Item */

    width: 88px;
    height: 88px;

    /* Base/Gray-200 */
    background: var(--gray-200);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 1.25rem;
}

#spin {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    gap: 2rem;

    width: 568px;
    height: 117px;

    /* Base/Gray-100 */
    background: var(--gray-100);
    /* Base/Gray-300 */
    border: 1px solid var(--gray-300);
    border-radius: 1rem;
}

.cont-spin {
    /* Content */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 0.75rem;

    width: 400px;
    height: 63px;
}

.cont-spin>div:first-child {
    /* 3 cortes restantes */

    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.75rem;

    /* Base/Gray-600 */
    color: var(--gray-600);

    & h2 {
        font: var(--title-md);
        color: var(--gray-600);
    }

    & p {
        font: var(--text-md);
        color: var(--gray-500);
    }
}

.div-spin {
    /* LinearProgress */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0.75rem;

    width: 400px;
    height: 17px;

    & span {

        right: 0;
        /* Body/Text Xs */
        font: var(--text-xs);
        /* identical to box height, or 17px */
        display: flex;
        align-items: center;

        /* Base/Gray-500 */
        color: var(--gray-500);
    }

}

.barr-spin {
    /* Bar */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 6.69rem 0px 0px;
    gap: 0.5rem;

    width: 351px;
    height: 8px;

    /* Base/Gray-300 */
    background: var(--gray-300);
    border-radius: 999px;

    &::after {
        /* Progress indicator */
        content: "";
        width: 243.3px;
        height: 8px;

        /* Main/Gradient */
        background: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);
        border-radius: 999px;

    }
}

.check {
    position: absolute;
    width: 64px;
    height: 64px;
    left: calc(50% - 64px/2);
    top: calc(50% - 64px/2);
}

.gift {
    /* Icons */

    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2);
    top: calc(50% - 40px/2);

    opacity: 0.35;

}

.div-gift {
    /* Item */

    width: 72px;
    height: 72px;

    /* Base/Gray-200 */
    background: var(--gray-200);
    border-radius: 999px;
    position: relative;
}

.spin-gift {
    /* PinGift */

    position: absolute;
    width: 64px;
    /* height: 64px; */
    left: calc(50% - 64px/2);
    top: calc(50% - 100%/2 + 0.5px);

    /* filter: drop-shadow(0px 26px 10px rgba(0, 0, 0, 0.01)) drop-shadow(0px 15px 9px rgba(0, 0, 0, 0.04)) drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.07)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08)); */

}

@media (width <=375px) {
    main {
        grid-template-areas:
            "A"
            "C"
            "B"
            "D";
        left: calc(50% - 351px/2);
        position: absolute;

        & section:nth-child(1) {
            grid-area: A;
            margin-bottom: 1rem;
        }

        & section:nth-child(2) {
            grid-area: B;
        }

        & section:nth-child(3) {
            grid-area: C;
        }

        & section:nth-child(4) {
            grid-area: D;
        }

        /* Frame 7 */

        /* Auto layout */
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: flex-start; */
        /* padding: 0px; */
        /* gap: 8px; */

        /* position: absolute; */
        /* width: 351px; */
        /* height: 882px; */
        /* left: calc(50% - 351px/2); */
        /* top: 172px; */


    }

    #info {
        gap: 8px;

        width: 351px;
        left: calc(50% - 351px/2);
    }

    #card {
        width: 351px;
        height: 239px;
        margin-left: 0;
    }
}